[submodule "external/ncbind"]
	path = external/ncbind
	url = https://github.com/uyjulian/ncbind.git
[submodule "external/minizip"]
	path = external/minizip
	url = https://github.com/zlib-ng/minizip-ng.git
	ignore = dirty
[submodule "external/minizip_lib"]
	path = external/minizip_lib
	url = https://github.com/uyjulian/minizip_lib.git
	ignore = dirty
[submodule "external/zlib-ng"]
	path = external/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
	ignore = dirty
